@page
@model ZooWeb.Pages.Department.IndexModel
@{
}
<br>
<h2>Department</h2>
<a class='btn btn-primary btn-sm' href="/Department/Create">New Department</a>
<table class="table">
	<thead>
		<tr>
			<th>Department Number</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ListDepartment)
		{
			<tr>
				<td>@item.Dnumber</td>
				<td>@item.Name</td>
				<td>
					<a class='btn btn-primary btn-sm' href="/Department/Edit?id=@item.Dnumber">Edit</a>
					<a class='btn btn-danger btn-sm' href="/Department/Delete?id=@item.Dnumber">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>