@page
@model PrivacyModel
@{

}
<br></br>
<h1 justify-content>Welcome to ZooWeb</h1>
@if (User.IsInRole("admin") || User.IsInRole("zookeeper"))
{
	<br></br>
	<h2>Notifications (@Model.count)</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Message</th>
				<th>Timestamp</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.notifications)
			{
				<tr>
					<td>@item.title</td>
					<td>@item.message</td>
					<td>@item.timestamp</td>
					<td>
						<a class='btn btn-danger btn-sm' href="/Home/Delete?id=@item.messageId">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}