<!DOCTYPE html>

@{
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZooWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZooWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" id="navbar">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ZooWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarAdmin" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Admin</a>

                                <div class="dropdown-menu" aria-labelledby="navbarAdmin">
                                    <a class="dropdown-item" asp-area="" asp-page="/ZooUsers/Index">Users</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Employees/Index">Employees</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/Department/Index">Departments</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/Visitor/Index">Visitors</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarSales" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sales</a>

                                <div class="dropdown-menu" aria-labelledby="navbarSales">
                                    <a class="dropdown-item" asp-area="" asp-page="/Revenue/Index">Revenue</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/TicketSales/Index">Ticket</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/AmenitySales/Index">Amenity</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("admin") || User.IsInRole("zookeeper"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarZookeeper" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Zookeeper</a>

                                <div class="dropdown-menu" aria-labelledby="navbarZookeeper">
                                    <a class="dropdown-item" asp-area="" asp-page="/Animals/Index">Animals</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/Enclosures/Index">Enclosures</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/FeedingPatterns/Index">Feeding</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/Restricted/Index">Restricted</a>
                                    <a class="dropdown-item " asp-area="" asp-page="/FeedingReport/Report">Feeding Report</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ZooWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

